/* timeframes.php */
body#edit { 
    margin: 1em;
}

#nav { margin-bottom: 1em; }

.button {
    border: 1px solid lightblue;
    border-radius: .25em;
    display: inline;
    padding: .25em;
    text-decoration: none;
    font-weight: bold;
    color: #2e6e9e;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.button:hover {
    background-color: lightblue;
    border-color: #2e6e9e;
}
#new-preset-button {

}
a.delete-button {
    border-color: red;
    padding: .1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a.delete-button:hover {
    background-color: red;
    color: white;
}
#presets-picker {
    margin: .5em 0 1em 0;
}
.highlight {
    background-color: yellow;
}

.flot-container {
	box-sizing: border-box;
	width: 850px;
	height: 150px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.flot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table { /*flot*/
	border-spacing: 5px;
}


/* calendar.php */ 
#hours { 
  width: 100%; 
  border-collapse: collapse;
 }

#hours th { 
  font-weight: bold; 
}

#hours td, #hours th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  min-width: 60px;
}
#hours td {
    height: 75px;
}

#hours .hours_date {
    font-size: 1.1em;
    font-weight: bold;
}

#hours .hours_today {
    background-color: LightSkyBlue;
}

#hours .closed {
    background-color: silver;
}

#hours .day_of_week {
    display: none;
}


@media (max-width: 719px) {

    #hours tbody, #hours th, #hours td, #hours tr { 
          display: block; 
          }

  #hours thead { 
    display: none;
  }

  #hours tr { 
    border: 1px solid #333; 
  }

  #hours td { 
    border: none;
    border-bottom: 1px dotted @gray; 
    position: relative;
    padding-left: 10%; 
    height: auto;
  }

  #hours td.empty {
    display: none;
  }

  #hours td.hours_box {
    border-bottom: 1px dashed #333;
  }

  #hours .day_of_week {
    display: block !important;
  }
  
  /* Zebra striping */
  #hours tr:nth-of-type(odd) { 
    background: #ddd; 
  }

}